@model List<Book>



<table class="table">
    <thead>
        <tr>
           
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Author</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var x in Model )
        {
            <tr>
                <td>@x.Id</td>
                <td>@x.Title</td>
                <td>@x.Author</td>
           </tr>
        }
    </tbody>
</table>